@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 10% 94%;
    --foreground: 0 0% 0%;

    --card: 40 10% 94%;
    --card-foreground: 0 0% 0%;

    --popover: 40 10% 94%;
    --popover-foreground: 0 0% 0%;

    --primary: 20 99% 63%;
    --primary-foreground: 0 0% 100%;

    --secondary: 204 34% 23%;
    --secondary-foreground: 40 10% 94%;

    --muted: 204 34% 23%;
    --muted-foreground: 0 0% 45%;

    --accent: 204 34% 23%;
    --accent-foreground: 40 10% 94%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 20 99% 63%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 204 34% 23%;
    --foreground: 0 0% 100%;

    --card: 204 34% 23%;
    --card-foreground: 0 0% 100%;

    --popover: 204 34% 23%;
    --popover-foreground: 0 0% 100%;

    --primary: 20 99% 63%;
    --primary-foreground: 0 0% 100%;

    --secondary: 40 10% 94%;
    --secondary-foreground: 204 34% 23%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 75.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 20 99% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
